@import 'bourbon';
@import 'neat';
@import 'uswds_rails_overrides/core/defaults';
@import 'uswds/all';
@import 'uswds_rails_overrides/all';
@import 'fonts';

$cf-background: #f9f9f9;
$cf-link: #0872b9;
$cf-drop-shadow-color: rgba(91, 97, 107, 0.5);
$cf-drop-shadow: 1px 1px 5px 0 $cf-drop-shadow-color;

html,
body {
  margin: 0;
  padding: 0;
}
